// =========================================================================================
// #EXTERNAL - PLUGINS WP
// =========================================================================================

@import 'cookieYes.scss';

.c-scrollbar{

    z-index: 99;
    opacity: 1;
    
    &_thumb{

        margin: 0px;
        width: 5px;
        border-radius: 0px;
        opacity: 1;
        background-color: var(--color-black);

    }

}

// =========================================================================================
// #END EXTERNAL
// =========================================================================================