.c-animated-text{

    $b : &;
    
    @include av-prepare-debug();

    position: relative;
    z-index: 2;

    &__inner{

        padding: 50px 0px;
        position: relative;
        
    }

    &__col{

        z-index: 9;

    }

    &__wrapper-title{

        padding-bottom: 56px;
        position: relative;

    }
    
    &__wrapper-image{

        display: block;
        width: 100%; 
        position: relative;
        overflow: hidden;
        border-radius: 5px;

        @include av-aspect-ratio(100%);

        @include md{

            @include av-aspect-ratio(60%);

        }

    }

    &__wrapper-image-bg{

        display: block;
        width: calc(var(--col-1) * 1); 
        position: absolute;
        left: 0px;
        top: 300px;
        
        @include av-aspect-ratio(175%);
        
        @include sm{
            
            top: initial;
            bottom: 20%;
            left: -100px;
            width: calc(var(--col-1) * 3);

        }

        @include md{
            
            left: 70px;

        }

        &--2{

            left: initial;
            right: 0px;
            bottom: initial;           
            
            @include sm{
                
                top: 40%;
                right: -100px;

            }

            @include md{
                
                top: 40%;
                right: 70px;

            }

        }

    }

    &__image-bg{

        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    &__image{

        position: absolute;
        top: -20px;
        left: 0px;
        width: 100%;
        height: 140%;
        object-fit: cover;
        opacity: 0;

    }

    &__wrapper-description{

        // position: absolute;
        // top: -2px;
        // // transform: translateY(-50%);
        // left: 0px;
        padding: 20px;
        background-color: var(--color-brand-primary);
        line-height: 20px;

    }
    
}
