.c-wedding-details{

    $b : &;
    
    @include av-prepare-debug();

    position: relative;
    z-index: 2;

    &__inner{

        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 60px 0px;
        
    }

    &__container{

        position: relative;
        z-index: 1;

    }

    &__wrapper-title{

        display: block;
        width: 100%; 
        text-align: center; 
        padding-bottom: 24px;
        padding-top: 34px;
        overflow: hidden;

        @include sm{

            padding-bottom: 64px;
            padding-top: 0px;

        }

    }

    &__title{

        color: var(--alt-color);
        display: block;
        width: 100%;       
        
    }

    &__wrapper-image{

        height: 100%;
        width: 100%;
        position: absolute;
        overflow: hidden;
        opacity: .4;

    }

    &__image{

        position: relative;
        top: 0px;
        left: 0px;
        opacity: 0;

    }

    &__wrapper-block-image{

        position: relative;               
        z-index: 2;
        display: block;
        overflow: hidden;
        margin-bottom: 14px;

        @include av-aspect-ratio(80%);

        @include sm{

            @include av-aspect-ratio(110%);
            margin-bottom: 0px;

        }

    }

    &__block-image{

        position: absolute;
        top: -10px;
        left: 0px;
        width: 100%;
        height: 140%;
        object-fit: cover;
        opacity: 0;

    }

    &__wrapper-block-text{

        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: var(--color-brand-primary);
        padding: 20px 15px;

    }

    &__block-text{

        text-align: center;

    }
    
}
