@font-face {
    font-family: 'Merienda';
    src: url('Merienda-VariableFont_wght.woff') format('woff'),
        url('Merienda-VariableFont_wght.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


